{% extends "TimelineBundle::layout.html.twig" %}

{% block body %}
    <div class="block">
        <table align="center">
            <tr>
                <td>
                    <h1 class="display-4">{{ summonerName }}</h1></td>
                {% if  me==false %}
                    {% if follow==false %}
                        <td>
                            <a tabindex="0" class="btn btn-lg btn" role="button" data-toggle="popover"
                               data-trigger="focus"
                               href="{{ path('ajoutfavoris',{'id_favoris':idUser}) }}"
                               title="Suis-moi" data-content="L'ajoutez aux favoris"><span
                                        class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                        </td>
                    {% else %}
                        <td>
                            <a tabindex="0" class="btn btn-lg btn" role="button" data-toggle="popover"
                               data-trigger="focus"
                               href="{{ path('supprfavoris',{'id_favoris':idUser}) }}"
                               title="unfollow-me" data-content="Le supprimer des favoris"><span
                                        class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        </table>
    </div>

    <div class="block">
    <!-- Load jQuery from Google's CDN if needed -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/heatmap.js"></script>
    <script src="//code.highcharts.com/highcharts-more.js"></script>
    <script src="//code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript">
        {{ chart(piechart) }}
        {{ chart(barchart) }}
    </script>


    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#byChampion">Champions</a></li>
        <li><a data-toggle="tab" href="#bySummary">Parties</a></li>
        <li><a data-toggle="tab" href="#perf">Performances</a></li>
    </ul>

    <div class="tab-content">
        <div id="byChampion" class="tab-pane fade in active">
            <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        <div id="bySummary" class="tab-pane fade">
            <div id="barchart" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
        </div>
        <div id="perf" class="tab-pane fade">
            <table class="table table-bordered table-striped">
                <tr class="active text-center">
                    <td><b>Nom du champion</b></td>
                    <td><b>Ratio de victoires</b></td>
                    <td><b>KDA</b></td>
                    <td><b>Dommages infligés</b></td>
                    <td><b>Dommages reçus</b></td>
                    <td><b>Minions tués</b></td>
                    <td><b>Gold gagné</b></td>
                </tr>
                {% if championsData is not empty %}
                {% for champion in championsData %}
                {% set ratio = (champion.totalSessionsWon/champion.totalSessionsPlayed) %}
                {% if ratio < 0.25 %}
                <tr class="danger text-center">
                    {% elseif ratio >= 0.25 and ratio <0.5 %}
                <tr class="warning text-center">
                    {% elseif ratio >= 0.5 and ratio < 0.75 %}
                <tr class="info text-center">
                    {% else %}
                <tr class="success text-center ">
                    {% endif %}


                    <td><b>{{ champion.id }}</b></td>
                    <td> {{ (champion.totalSessionsWon/champion.totalSessionsPlayed)|number_format(2, '.', ',') }}</td>
                    <td> {{ ((champion.totalChampionKills+champion.totalAssists)/champion.totalDeathsPerSession)|number_format(2, '.', ',') }}</td>
                    <td> {{ champion.totalDamageDealt }}</td>
                    <td> {{ champion.totalDamageTaken }}</td>
                    <td> {{ champion.totalMinionKills }}</td>
                    <td> {{ champion.totalGoldEarned }}</td>

                <tr>
                    {% endfor %}
                    {% endif %}

            </table>
        </div>
    </div>


{% endblock %}