{% extends "TimelineBundle::layout.html.twig" %}

{% block body %}
    <div class="block">
        <table align="center">
            <tr><td>
                    <h1 class="display-4">{{ summonerName }}</h1></td>
                {% if  me==false %}
                    {% if follow==false %}
                        <td>
                            <a tabindex="0" class="btn btn-lg btn" role="button" data-toggle="popover" data-trigger="focus"
                               href="{{ path('ajoutfavoris',{'id_favoris':idUser}) }}"
                               title="Suis-moi" data-content="L'ajoutez aux favoris"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                        </td>
                    {%  else %}
                        <td>
                            <a tabindex="0" class="btn btn-lg btn" role="button" data-toggle="popover" data-trigger="focus"
                               href="{{ path('supprfavoris',{'id_favoris':idUser}) }}"
                               title="unfollow-me" data-content="Le supprimer des favoris"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        </table>
    </div>

    <div class="block">
        <!-- Load jQuery from Google's CDN if needed -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
        <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
        <script type="text/javascript">
            {{ chart(piechart) }}
            {{ chart(barchart) }}
        </script>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#byChampion">Par champion</a></li>
            <li><a data-toggle="tab" href="#bySummary">Par partie</a></li>
            <li><a data-toggle="tab" href="#etc">etc</a></li>
        </ul>

        <div class="tab-content">
            <div id="byChampion" class="tab-pane fade in active">
                <h3>Statistiques par champion</h3>
                <p>
                <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                </p>
            </div>
            <div id="bySummary" class="tab-pane fade">
                <h3>Statistiques par partie</h3>
                <p>
                <div id="barchart" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
                </p>
            </div>
            <div id="etc" class="tab-pane fade">
                <h3>Statistiques etc</h3>
                <p>Some content in etc.</p>
            </div>
        </div>
    </div>


{% endblock %}



