{% extends "TimelineBundle::layout.html.twig" %}


{% block body %}

    {% block content_header %}
    {% endblock %}

    <div class="block">
        {% block content %}
            {% if AllData is not empty %}
                {% for data in AllData %}
                    <table class="table table-hover table-condensed">
                        <tr class="blog-title">
                            {% if data.win %}
                                <th class="success" colspan=3>League Of Legend</th>
                            {% else %}
                                <th class="danger" colspan=3>League Of Legend</th>
                            {% endif %}
                        <tr>
                            <td rowspan=2><img src="{{ data.photo }}"/></td>
                            <td align="center">
                                <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/champion.png" class="img-thumbnail"/> {{ data.player }}
                            </td>

                            <td>
                                <img src={{ absolute_url(asset('bundles/framework/images/calendar.png')) }} /> {{ data.createDate }}
                            </td>
                        <tr>
                            <td>Level du joueur : {{ data.summonerLevel }}</td>
                            <td>Durée du match : {{ data.timePlayed }}</td>
                        </tr>
                        </tr>
                        <tr>
                            <td rowspan=2><img src="{{ data.photoChamp }}"/></td>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="img-thumbnail"/> {{ data.championsKilled }}/{{ data.numDeaths }}/{{ data.assists }}</td>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png"/> {{ data.goldEarned }}
                            </td>
                        <tr>
                            <td>KDA : {{ data.kda }}</td>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png"/> {{ data.minionsKilled }}
                            </td>
                        </tr>
                        </tr>
                    </table>
                    </br>

                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
