{% extends "TimelineBundle::layout.html.twig" %}


{% block body %}
    <div class="block">
        <table class="table table-bordered table-striped">
            <tr class="blog-title">
                <th colspan=2>Mes informations</th>
            </tr>
            <tr>
                <td>id utilisateur :</td>
                <td>{{ user.id_user }}</td>
            </tr>
            <tr>
                <td>name :</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>email :</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        </br>

        <table class="table table-bordered table-striped">
            <tr class="blog-title">
                <th colspan=2>Mes jeux</th>
            </tr>
            {% for id,name in games %}
                <tr>
                    <td>{{ name }}</td>
                    <td>
                        {% if accountName[id] is empty %}
                            <form action="{{ path('myaccount_add') }}" class="navbar-form navbar-left" role="search"
                                  method="" POST">
                            <input type="hidden" name="id_game" value={{ id }}>
                            <input type="text" name="pseudo" class="form-control" placeholder="Mon pseudo">
                            <button type="submit" class="btn btn-default">Valider</button>
                            </form>
                        {% else %}
                            {{ accountName[id] }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}