{% extends "@Timeline/layout.html.twig" %}

{% block body %}
    <div class="block">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#upcommingEvents">Evénements à venir</a></li>
            <li><a data-toggle="tab" href="#participateEvents">Evénements auquels je participe</a></li>
            <li><a data-toggle="tab" href="#myEvents">Mes événements</a></li>
            <li><a data-toggle="tab" href="#addEvents">Créer un événement</a></li>
        </ul>

        <div class="tab-content">
            <div id="upcommingEvents" class="tab-pane fade in active">
                {% if arrayEvents is empty %}
                    <p><br><b>Aucun évenement n'est programmé pour le moment ! Allez dans "Créer un événement" pour en ajouter
                        ;)</b></p>
                {% else %}
                    {% for event in arrayEvents %}
                        <table class="table table-bordered">
                            <tr class="blog-title">
                                <th align="center" colspan=2>
                                    <h3 align="center">
                                        {{ event.eventName }}
                                    </h3>
                                </th>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <b>Description : </b>{{ event.eventDescription }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Date : </b>{{ event.eventDate.format("d/M/y") }}</td>
                                <td><b>Lieu : </b>{{ event.eventPlace }}</td>
                            </tr>
                            <tr>
                                <td colspan=2><b>Participants : </b>{{ event.eventMembers }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Nombre de participants : </b> {{ event.eventNbParticipants }}
                                    /{{ event.eventMaxParticipant }}
                                </td>
                                <td>
                                    {% if (event.eventOwner == idUser) %}
                                        <br><b>Vous avez créé cet événement.</b>
                                        {% elseif (event.eventNbParticipants == event.eventMaxParticipant) %}
                                        <b>L'évenement est complet !</b>
                                    {% else %}
                                        <br><a class="btn btn-primary" role="button"
                                               style="color: white"
                                               href="{{ path('event_participate',{'idEvent': event.id}) }}"
                                               title="participate">Je participe</a>

                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>


            <div id="participateEvents" class="tab-pane fade">
                {% if arrayEventUserParticipation is empty %}
                    <p><br><b>Vous n'êtes incrit à aucun événement actuellement !
                        ;)</b></p>
                {% else %}
                    {% for event in arrayEventUserParticipation %}
                        <table class="table table-bordered">
                            <tr class="blog-title">
                                <th align="center" colspan=2>
                                    <h3 align="center">
                                        {{ event.eventName }}
                                    </h3>
                                </th>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <b>Description : </b>{{ event.eventDescription }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Date : </b>{{ event.eventDate.format("d/M/y") }}</td>
                                <td><b>Lieu : </b>{{ event.eventPlace }}</td>
                            </tr>
                            <tr>
                                <td colspan=2><b>Participants : </b>{{ event.eventMembers }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Nombre de participants : </b> {{ event.eventNbParticipants }}
                                    /{{ event.eventMaxParticipant }}
                                    <br> L'évenement est ouvert !
                                </td>
                                <td>
                                    <a class="btn btn-primary" role="button"
                                       style="color: white"
                                       href="{{ path('event_participate',{'idEvent': event.id}) }}"
                                       title="participate">Je participe</a>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>


            <div id="myEvents" class="tab-pane fade">
                {% if arrayEventsUser is empty %}
                    <p><br><b>Vous n'avez programmé aucun évenement à ce jour. Rendez-vous sur "Créer un évenement" pour y
                        remédier ;)</b></p>
                {% else %}
                    {% for event in arrayEventsUser %}
                        <table class="table table-bordered">
                            <tr class="blog-title">
                                <th align="center" colspan=2>
                                    <h3 align="center">
                                        {{ event.eventName }}
                                    </h3>
                                </th>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <b>Description : </b>{{ event.eventDescription }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Date : </b>{{ event.eventDate.format("d/M/y") }}</td>
                                <td><b>Lieu : </b>{{ event.eventPlace }}</td>
                            </tr>
                            <tr>
                                <td colspan=2><b>Participants : </b>{{ event.eventMembers }}</td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <b>Nombre de participants : </b> {{ event.eventNbParticipants }}
                                    /{{ event.eventMaxParticipant }}
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="addEvents" class="tab-pane fade">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
